@{
    // 模擬系統訊息資料 - 按發送時間由新到舊排列
    var systemMessages = new[] {
        new {
            MessageId = "MSG-00128",
            Title = "【重要】伺服器升級與系統維護公告",
            AudienceType = "全體會員",
            AudienceTypeCode = "all_members",
            ReceiverName = "-",
            ReceiverId = "",
            AdminName = "Admin_Steve",
            SentAt = "2024-07-15 10:00:00",
            Content = "親愛的會員您好，為提供更優質的服務，本平台將於 2024年7月20日 凌晨 02:00 至 04:00 進行系統維護與升級作業，屆時將暫停所有服務。造成您的不便，敬請見諒。"
        },
        new {
            MessageId = "MSG-00127",
            Title = "房東專屬！7月份上架費用8折優惠碼",
            AudienceType = "全體房東",
            AudienceTypeCode = "all_landlords",
            ReceiverName = "-",
            ReceiverId = "",
            AdminName = "Admin_Marketing",
            SentAt = "2024-07-01 09:30:00",
            Content = "親愛的房東夥伴，感謝您對本平台的支持！即日起至7月31日，於付款時輸入優惠碼 ZUHOUSE-LANDLORD-202407 即可享上架費用8折優惠！"
        },
        new {
            MessageId = "MSG-00126",
            Title = "關於您的租約 #C123456 即將到期提醒",
            AudienceType = "個別用戶",
            AudienceTypeCode = "individual",
            ReceiverName = "林小美 (M000789)",
            ReceiverId = "M000789",
            AdminName = "SYSTEM",
            SentAt = "2024-06-28 14:22:00",
            Content = "親愛的林小美會員，提醒您，您目前承租的房源租約將於一個月後到期，若有續約需求，請儘速與房東聯繫。"
        }
    };
}

<!-- Message List Table -->
<div class="card mt-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>訊息ID</th>
                        <th>標題</th>
                        <th>發送對象</th>
                        <th>接收者</th>
                        <th>發送者</th>
                        <th>發送時間</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in systemMessages)
                    {
                        <tr>
                            <td>@message.MessageId</td>
                            <td>@message.Title</td>
                            <td>
                                @if (message.AudienceTypeCode == "all_members")
                                {
                                    <span class="badge bg-primary">@message.AudienceType</span>
                                }
                                else if (message.AudienceTypeCode == "all_landlords")
                                {
                                    <span class="badge bg-success">@message.AudienceType</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning text-dark">@message.AudienceType</span>
                                }
                            </td>
                            <td>@message.ReceiverName</td>
                            <td>@message.AdminName</td>
                            <td>@message.SentAt</td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary" 
                                        onclick="viewMessage('@message.MessageId', '@message.Title', '@message.Content')">
                                    <i class="bi bi-eye"></i> 檢視
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <nav aria-label="系統訊息分頁">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">上一頁</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">下一頁</a>
                </li>
            </ul>
        </nav>
    </div>
</div>