@using zuHause.ViewModels.MemberViewModel
@model ContractsViewModel

    <button type="button" class="btn btn-aqua py-0 w-100" data-bs-toggle="modal"
        data-bs-target="#landlordViewRentalApplication@(Model.ContractId)">
        (房客)簽署合約
    </button>

<div class="modal fade" id="landlordViewRentalApplication@(Model.ContractId)" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="landlordViewRentalApplication@(Model.ContractId)Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="landlordViewRentalApplication@(Model.ContractId)Label">簽署合約</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <form action="" method="post" class="w-100 d-flex flex-column gap-2">
                    <div class="row w-100 m-0">
                        @await Html.PartialAsync("_PartialPropertyCard",@Model)
                    </div>
                    <hr>
                    <div class="row g-0 align-items-center gap-2">
                        <h5>申租資訊</h5>
                        <h6 class="col-12 m-0 me-2">
                            <div class="row m-0">
                                <div class="col-3">房源編號：</div>
                                <div class="col">@Model.PropertyId</div>
                            </div>
                        </h6>
                        <h6 class="col-12 m-0 me-2">
                            <div class="row m-0">
                                <div class="col-3">地址：</div>
                                <div class="col">@Model.AddressLine</div>
                            </div>
                        </h6>
                        <h6 class="col-12 m-0 me-2">
                            <div class="row m-0">
                                <div class="col-3">承租人(乙方)：</div>
                                <div class="col">@Model.ApplicantName</div>
                            </div>
                        </h6>
                        <!-- <h6 class="col-12 m-0 me-2">
                          <div class="row m-0">
                            <div class="col-3">乙方身分證字號：</div>
                            <div class="col">L123456789</div>
                          </div>
                        </h6> -->
                        <h6 class="col-12 m-0 me-2">
                            <div class="row m-0">
                                <div class="col-3">乙方出生日期：</div>
                                <div class="col">@Model.ApplicantBathText</div>
                            </div>
                        </h6>
                        <h6 class="col-12 m-0 me-2">
                            <div class="row m-0">
                                <div class="col-3">租金：</div>
                                <div class="col">NT$@Model.MonthlyRent.ToString("N0") 元 / 月</div>
                            </div>
                        </h6>
                        <h6 class="col-12 m-0 me-2">

                            <div class="row m-0">
                                <div class="col-3 d-flex">租賃期間：</div>
                                <div class="col d-flex flex-column gap-2">
                                    @Model.StartDateText 至 @Model.EndDateText，共@(Model.DurationText)
                                </div>
                            </div>
                        </h6>
                    </div>
                    <hr>
                    <style>
                        input::file-selector-button {
                            display: none;
                        }
                    </style>
                    <div class="row g-0 align-items-center gap-2">
                        <h5 class="col-12">其餘資料上傳</h5>
                        <div class="col-12">
                            <div class="row m-0 align-items-start">
                                <h6 class="col-auto mb-0 px-0 py-2">檔案一：</h6>
                                <div class="col-auto gap-2 py-0">
                                    <div class="row align-items-center">
                                        <label for="" class="col-auto border border-1 px-2 py-1">選擇檔案</label>
                                        <input type="file" name="" id="" class="col-auto col-auto d-none">
                                        <div class="col-auto input-file-name col-auto">image1234456.jpg</div>
                                        <button type="button" class="col-auto btn p-0">
                                            <i class="bi bi-dash-square-fill"></i>
                                        </button>
                                    </div>
                                    <div class="row input-feedback mt-1">
                                        <small class="text-danger col p-0">請上傳.jpg、.png、.webp，且檔案大小於5MB以內</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row m-0 align-items-start">
                                <h6 class="col-auto mb-0 px-0 py-2">檔案二：</h6>
                                <div class="col-auto gap-2 py-0">
                                    <div class="row align-items-center">
                                        <label for="" class="col-auto border border-1 px-2 py-1">選擇檔案</label>
                                        <input type="file" name="" id="" class="col-auto col-auto d-none">
                                        <div class="col-auto input-file-name col-auto">image1234456.jpg</div>
                                        <button type="button" class="col-auto btn p-0">
                                            <i class="bi bi-dash-square-fill"></i>
                                        </button>
                                    </div>
                                    <div class="row input-feedback mt-1">
                                        <small class="text-danger col p-0">請上傳.jpg、.png、.webp，且檔案大小於5MB以內</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row g-0 align-items-center gap-2">
                        <h5 class="col-12">查看合約</h5>
                        <div class="col-12">
                            <button type="button" class="btn btn-aqua w-100">查看合約</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row g-0 align-items-center gap-2">
                        <h5 class="col-12">簽署合約</h5>
                        <div class="col-12">
                            <button type="button" class="btn btn-aqua w-100">查看合約</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">拒絕申請</button>
                <button type="button" class="btn btn-aqua">聯絡房客</button>
                <button type="button" class="btn btn-aqua">同意申請</button>
            </div>
        </div>
    </div>
</div>