@using zuHause.ViewModels.MemberViewModel
@model MemberProfileViewModel

@{
    ViewData["Title"] = "個人檔案";
    ViewData["activePage"] = "MemberProfile";
}

<div class="row w-100 gx-5 justify-content-center position-relative h-100">
    @await Html.PartialAsync("_PartialMemberSideBar", ViewData["activePage"])
    <div class="col-10 d-flex justify-content-start flex-column
        align-items-center">
        <div class="row w-100">
            <h1 class="fs-3 text-black px-0">個人檔案檢視</h1>
            <div class="col-12 card border-dark my-3">
                <div class="card-body row">
                    <div class="col-2 d-flex flex-column gap-2">
                        <div class="user-image border border-1 border-black rounded-2 ratio ratio-1x1">
                            <img class="w-100 h-100 object-fit-cover" src="@Url.Content(ViewBag.userPhoto)" alt="">
                        </div>
                        <div class="row m-0 align-items-center justify-content-center gap-1">
                            <div class="col-auto p-0">
                                <div class="input-group">
                                    <label class="btn btn-aqua py-0 rounded-1 input-group-text w-100" role="button"
                                           for="inputUserImage">上傳照片</label>
                                    <input type="file" class="form-control d-none" id="inputUserImage" accept=".jpg,.png,.webp">
                                </div>
                            </div>
                            <div class="col-auto p-0">
                                <button type="button" class="btn btn-aqua py-0 w-100 d-none" id="uploadButton">確認上傳</button>
                            </div>
                        </div>
                        <span class="invalid-feedback opacity-100 d-none text-center"
                              id="userUploadStatus"></span>
                    </div>

                    <div class="col">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item w-50 border-0 d-flex align-items-center">歡迎回來，@Model.MemberName</li>
                            
                            <li class="list-group-item w-50 border-0">
                                <div class="row">
                                    <div class="col-auto d-flex align-items-center gap-1">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="bi bi-person-vcard-fill"></i>
                                            <span>身分認證</span>
                                        </div>
                                        <div class="review-status d-flex align-items-center gap-1">
                                            
                                                @if(!Model.IdentityVerifiedAt.HasValue)
                                                {
                                                <span>
                                                    <i class="bi bi-exclamation-circle-fill fs-6"></i>
                                                    尚未驗證
                                                </span>
                                                }
                                                else
                                                {
                                                <span class="text-aqua">
                                                    <i class="bi bi-check-circle-fill fs-6"></i>
                                                    已完成認證
                                                </span>
                                                }
                                        </div>
                                    </div>
                                </div>
                            </li>
                            @* <li class="list-group-item w-50 border-0">
                                <div class="row">
                                    <div class="col-auto d-flex align-items-center gap-1">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="bi bi-phone-fill"></i>
                                            <span>手機號碼</span>
                                        </div>
                                        <div class="review-status d-flex align-items-center gap-1">
                                            <i class="bi bi-exclamation-circle-fill fs-6"></i>
                                            <small>審核失敗</small>
                                        </div>
                                    </div>
                                </div>
                            </li> *@
                        </ul>
                        <ul class="list-group list-group-horizontal-sm">
                            <li class="list-group-item w-50 border-0 d-flex align-items-center gap-2">

                                @* 切換身分如果還沒成為房東？那就要到成為房東頁 *@

                                <span>目前身分：@(Model.MemberTypeId == 1 ? "房客" : "房東")</span>
                                @if (Model.IsLandlord)
                                {
                                    @if (Model.MemberTypeId == 1)
                                    {
                                        //切換成房東

                                        <form asp-action="SwitchRole" method="post" class="d-inline">
                                            <input type="hidden" name="targetRole" value="landlord" />
                                            <button type="submit" class="btn btn-aqua py-0">
                                            切換身分
                                        </button>
                                        </form>
                                        
                                    }
                                    else
                                    {
                                               <form asp-action="SwitchRole" method="post" class="d-inline">
                                            <input type="hidden" name="targetRole" value="tenant" />
                                            <button type="submit" class="btn btn-aqua py-0">
                                            切換身分
                                        </button>
                                        </form>
                                    }
                                }
                                else
                                {

                                    <button type="button" class="btn btn-aqua py-0" data-bs-toggle="modal"
                                            data-bs-target="#becomeLandlord">
                                        成為房東
                                    </button>
                                }

                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal-md">
                            <li class="list-group-item w-50 border-0 flex-fill d-flex align-items-center">註冊日期：@Model.CreatedAt</li>
                            @* <li class="list-group-item w-50 border-0">
                                <div class="row">
                                    <div class="col-auto d-flex align-items-center gap-1">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="bi bi-envelope-fill"></i>
                                            <span>電子郵件</span>
                                        </div>
                                        <!-- <div class="review-status d-flex align-items-center gap-1">
                                          <i class="bi bi-exclamation-circle-fill fs-6"></i>
                                          <small>審核失敗</small>
                                        </div> -->
                                    </div>
                                </div>
                            </li> *@
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <hr class="w-100">
        <div class="row w-100 text-black mt-2">
            <h2 class="fs-3 text-black px-0">會員資料修改</h2>
            <p>@TempData["SuccessMessage"]</p>
                <form asp-action="UpdatememberProfile" method="post" class="w-100">
            <div class="col-12 mt-3 d-flex flex-column gap-3 align-items-start justify-content-center">
                <div class="row w-100">
                    <label for="inputPhone" class="col-2 col-form-label text-end">手機號碼</label>
                    <div class="col-auto d-flex align-items-center gap-3">
                        <input type="hidden" readonly class="form-control-plaintext" asp-for="PhoneNumber">
                        <p class="m-0">@Model.PhoneNumber</p>
                        @* <div class="review-status d-flex align-items-center gap-1">
                            @if (Model.EmailVerifiedAt != null)
                            {
                                <i class="bi bi-check-circle-fill fs-6"></i>
                                <small>已認證</small>
                            }
                            else
                            {
                                <small>未認證</small>
                            }
                        </div> *@
                    </div>
                </div>
                <div class="row align-items-center w-100">
                    <label for="inputPassword" class="col-2 col-form-label text-end">密碼</label>
                    <div class="col-10 pe-0 d-flex align-items-center gap-3">
                        <div class="row w-100 align-items-center">
                            <div class="col-5">
                                <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpInline"
                                       placeholder="請輸入密碼" value="*********" disabled>
                            </div>
                            <button type="button" class="btn btn-aqua py-0 col-auto" data-bs-toggle="modal"
                                    data-bs-target="#changePassword">
                                修改密碼
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row w-100">
                    <label asp-for="MemberName" class="col-2 col-form-label text-end">姓名</label>

                    @if (Model.IdentityVerifiedAt != null)
                    {
                        <div class="col-auto d-flex align-items-center gap-3">
                            <input type="hidden" readonly class="form-control-plaintext" asp-for="MemberName">
                            <p class="m-0">@Model.MemberName</p>
                            <div class="review-status d-flex align-items-center gap-1">
                                <span class="text-aqua">
                                    <i class="bi bi-check-circle-fill fs-6"></i>
                                    已實名認證
                                </span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-auto d-flex align-items-center gap-3">
                            <input type="text" class="form-control" asp-for="MemberName">
                            <div class="review-status d-flex align-items-center gap-1 flex-nowrap flex-shrink-0">
                                <i class="bi bi-x fs-6"></i>
                                <small>未認證</small>
                            </div>
                        </div>
                    }
                </div>
                <div class="row w-100">
                    <label asp-for="NationalIdNo" class="col-2 col-form-label text-end">身分證字號</label>
                    <div class="col-auto d-flex align-items-center gap-3">
                        <input type="hidden" readonly class="form-control-plaintext" asp-for="NationalIdNo">
                        <p class="m-0">
                         @(Model.NationalIdNo != null ? Model.NationalIdNo : "")    
                        </p>
                    </div>
                </div>
                <div class="row align-items-center w-100">
                    <label asp-for="Email" class="col-2 col-form-label text-end">電子信箱</label>
                    <div class="col pe-0 d-flex align-items-center gap-3">
                        <div class="row w-100 align-items-center">
                            <div class="col-6">
                                <input type="email" asp-for="Email" class="form-control"
                                       aria-describedby="inputEmailHelpInline" placeholder="請輸入電子信箱">
                            </div>
                            @* <button type="button" class="btn btn-aqua py-0 col-auto" data-bs-toggle="modal"
                                    data-bs-target="#verificationEmail">
                                驗證信箱
                            </button> *@
                            <span class="invalid-feedback d-block opacity-100" asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center w-100">
                    <label asp-for="Gender" class="col-2 col-form-label text-end">性別</label>
                    <div class="col-6 d-flex align-items-center gap-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Gender" id="changeGenderMale" value="1">
                            <label class="form-check-label" for="changeGenderMale">
                                男性
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Gender" id="changeGenderFemale" value="2">
                            <label class="form-check-label" for="changeGenderFemale">
                                女性
                            </label>
                        </div>
                    </div>
                </div>
                <!-- 生日與性別應在實名認證前可改，實名認證後需要修改要找到客服，所以之後或許加上連絡客服的地方 -->
                <div class="row align-items-start w-100">
                    <label asp-for="BirthDate" class="col-2 col-form-label text-end">生日</label>

                    @if (Model.EmailVerifiedAt != null)
                    {
                        <div class="col pe-0 d-flex align-items-center gap-3">
                            <div class="row w-100 align-items-center">
                                <div class="col-5">
                                    <input type="text" readonly class="form-control-plaintext" asp-for="BirthDate"
                                           class="w-100 rounded-2 border-0"
                                           style="padding: 0.375rem .75rem;" />
                                </div>
                                <span class="invalid-feedback d-block opacity-100" asp-validation-for="BirthDate"></span>
                            </div>
                        </div>
                    }
                    else
                    {
                         <div class="col pe-0 d-flex align-items-center gap-3">
                        <div class="row w-100 align-items-center">
                            <div class="col-5">
                                <input type="date" asp-for="BirthDate"
                                       class="w-100 rounded-2 border-1"
                                       style="padding: 0.375rem .75rem; border-color: #dee2e6;" />
                            </div>
                            <span class="invalid-feedback d-block opacity-100" asp-validation-for="BirthDate"></span>
                        </div>
                    </div>
                    }




                   
                </div>
                <div class="row align-items-center address-area w-100">
                    <label for="inputBirthday" class="col-2 col-form-label text-end">聯絡地址</label>

                    @* asp-items會自動處理options *@
                    <div class="col-2 pe-1 address-area-city">
                        <label class="visually-hidden" asp-for="ResidenceCityId"></label>
                        <select class="form-select" asp-for="ResidenceCityId" asp-items="Model.CityOptions" required>
                            <option selected value="0">縣市</option>
                        </select>
                    </div>
                    <div class="col-2 px-1 address-area-district">
                        <label class="visually-hidden" asp-for="ResidenceDistrictId"></label>
                        <select class="form-select" asp-for="ResidenceDistrictId" asp-items="Model.ResidenceDistrictOptions" required>
                            <option selected value="0">區域</option>
                        </select>
                    </div>
                    <div class="col-5 px-1">
                        <label class="visually-hidden" asp-for="AddressLine"></label>
                        <input type="text" class="form-control" asp-for="AddressLine" placeholder="請輸入地址" required>
                    </div>
                </div>
                <div class="row align-items-center address-area w-100">
                    <label for="inputBirthday" class="col-2 col-form-label text-end">主要承租區域</label>
                    <div class="col-3 pe-1 address-area-city">
                        <label class="visually-hidden" asp-for="PrimaryRentalCityId">主要承租縣市</label>
                        <select class="form-select" asp-for="PrimaryRentalCityId" asp-items="Model.CityOptions" required>
                            <option selected value="0">縣市</option>
                        </select>
                    </div>
                    <div class="col-3 px-1 pe-0 address-area-district">
                        <label class="visually-hidden" asp-for="PrimaryRentalDistrictId">主要承租區域</label>
                        <select class="form-select" asp-for="PrimaryRentalDistrictId" asp-items="Model.PrimaryRentalDistrictOptions" required>
                            <option selected value="0">區域</option>
                        </select>
                    </div>
                </div>
                <div class="row w-100 mt-3 mb-5">
                    <div class="col-4 mx-auto">
                        <span  class="invalid-feedback opacity-100 text-center" asp-validation-for="ResidenceCityId"></span>
                        <span  class="invalid-feedback opacity-100 text-center" asp-validation-for="ResidenceDistrictId"></span>
                        <span  class="invalid-feedback opacity-100 text-center" asp-validation-for="PrimaryRentalDistrictId"></span>
                        <span  class="invalid-feedback opacity-100 text-center" asp-validation-for="PrimaryRentalCityId"></span>
                        <button type="submit" class="btn btn-aqua w-100">儲存修改</button>
                    </div>
                </div>
            </div>
                </form>
        </div>
        <hr class="w-100">
        <div id="identity-section" class="row w-100 text-black identity-verification-area mt-2">
            <h2 class="fs-3 text-black px-0">身分認證</h2>
            <div class="col-12 mt-3 d-flex flex-column gap-3 align-items-start justify-content-center">

                <div class="row align-items-center w-100 input-id-area text-black">
                    <p class="col-2 col-form-label text-end">身分證正面</p>
                    <div class="col pe-0 d-flex align-items-center gap-3 input-id-area-front">
                        <div class="row align-items-center w-100">
                            <label for="inputIdFront" class="col-4 col-form-label rounded-1 bg-white text-secondary text-truncate" role="button">請上傳身分證正面照片</label>
                            <!-- 沒上傳之前隱藏，上傳後顯示 -->
                            <input type="file" id="inputIdFront" class="col-auto d-none" aria-describedby="inputIdFrontHelpInline"
                                   placeholder="請上傳身分證正面照片">
                            <div class="col-auto id-error-msg"></div>
                            <div class="review-status d-flex align-items-center gap-1 col-auto">
                                @if(!Model.IdentityVerifiedAt.HasValue)
                                {
                                <span>
                                    <i class="bi bi-exclamation-circle-fill fs-6"></i>
                                    尚未通過驗證
                                </span>
                                }
                                else
                                {
                                <span class="text-aqua">
                                    <i class="bi bi-check-circle-fill fs-6"></i>
                                    已完成審核
                                </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center w-100 input-id-area text-black">
                    <p class="col-2 col-form-label text-end">身分證反面</p>
                    <div class="col pe-0 d-flex align-items-center gap-3 input-id-area-back">
                        <div class="row align-items-center w-100">
                            <label for="inputIdBack" class="col-4 col-form-label rounded-1 bg-white text-secondary text-truncate" role="button">請上傳身分證反面照片</label>
                            <!-- 沒上傳之前隱藏，上傳後顯示，上傳或審核後，用label來顯示處理文字，用disabled禁止上傳 -->
                            <input type="file" id="inputIdBack" class="col-auto d-none" aria-describedby="inputIdBackHelpInline"
                                   placeholder="請上傳身分證反面照片">
                            <div class="col-auto id-error-msg"></div>
                            <div class="review-status d-flex align-items-center gap-1 col-auto">
                                @if(!Model.IdentityVerifiedAt.HasValue)
                                {
                                <span>
                                    <i class="bi bi-exclamation-circle-fill fs-6"></i>
                                    尚未通過驗證
                                </span>
                                }
                                else
                                {
                                <span class="text-aqua">
                                    <i class="bi bi-check-circle-fill fs-6"></i>
                                    已完成審核
                                </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    input::file-selector-button {
                        display: none;
                    }
                </style>
                <div class="row w-100 mx-0">
                    <div class="col-auto mx-auto ">
                        <small class="text-danger submit-id-msg"></small>
                    </div>
                </div>
                <div class="row w-100 mx-0 mb-5 align-items-center">
                    <div class="col-4 mx-auto">
                        <button type="button" class="btn btn-aqua w-100" id="submitIdFile">送出資料</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        @* 成為房東 *@
        <div class="modal fade" id="becomeLandlord" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    @if(Model.IdentityVerifiedAt != null)
                    {
                    <form asp-action="EnableLandlordRole" method="post" class="w-100">


                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="becomeLandlordLabel">成為房東</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                        確定要成為房東？請確認以下條款

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-aqua">送出</button>
                    </div>

                        </form>
                    }
                    else
                    {
                     <div class="modal-header">
                        <h1 class="modal-title fs-5" id="becomeLandlordLabel">提醒</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                        請先完成身分認證

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-aqua" data-bs-dismiss="modal">確認</button>
                    </div>
                    }
                </div>
            </div>
        </div>



        <div class="modal fade" id="verificationEmail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="verificationEmailLabel">驗證電子信箱</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                        <form action="" method="post" class="w-100">
                            <div class="row mx-auto w-100 gap-3 mb-2">
                                <div class="col-12 px-0 pb-2">
                                    <small>已發送驗證碼至example@gmail.com</small>
                                </div>
                                <div class="col-12 mx-auto p-0 d-flex flex-column gap-2">
                                    <div class="input-group has-validation">
                                        <span class="input-group-text rounded-0 px-3 bg-white">
                                            <i class="text-aqua bi bi-send-fill"></i>
                                        </span>
                                        <div class="form-floating">
                                            <!-- -->
                                            <input type="text" class=" form-control rounded-0 pe-5" id="verificationEmailCode"
                                                   placeholder="Username" required>
                                            <label for="verificationEmailCode">請輸入驗證碼</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-auto w-100">
                                <div class="col-auto mx-auto">
                                    <button type="button" class="btn btn-aqua-sub btn-sm w-100 rounded-0">重新發送(60)</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-aqua">送出</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changePasswordLabel">修改密碼</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3 w-100">
                        @await Html.PartialAsync("_PartialResetPassword", new ForgotPasswordViewModel{ ReturnUrl = Url.Action("MemberProfile","Member")})
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/js/memberProfile.js"></script>
    <script src="~/js/selectDistrict.js"></script>
    <script src="~/js/hiddenPassword.js"></script>
    <script src="~/js/checkUpload.js"></script>
}
