@using zuHause.ViewModels.MemberViewModel
@model MemberApplicationCardInputViewModel

@{
    var record = Model.Record;
    var dict = Model.StatusCodeDict;
    var latestStatus = record.StatusLogs.LastOrDefault()?.StatusCode;
    var statusText = dict.ContainsKey(latestStatus ?? "") ? dict[latestStatus ?? ""] : "未知狀態";

    var steps = ViewData["Steps"] as List<string> ?? new();
    var activeStep = ViewData["ActiveStep"] as int? ?? 0;

    string? statusName = ViewData["StepsName"]!.ToString();
}

<div class="card col-12 @(activeStep > 0 ? $"active-{activeStep}" : "active-0")">
    <div class="card-body p-3">
        <div class="row mb-2">
            <div class="card-type col-auto border border-1 bg-aqua">
                @(record.ApplicationType == "RENTAL" ? "租賃申請" : "看房申請")
            </div>
            <div class="card-property-id col-auto">申請編號：@record.ApplicationId</div>
            <div class="card-property-id col-auto">房源編號：@record.PropertyId</div>
            <div class="card-property-id col-auto">
                合約編號：@(record.ContractId?.ToString() ?? "尚未建立")
            </div>
        </div>
        <div class="row">
            <div class="col-3 px-0">
                <div class="property-img border">
                    <img src="@(record.imgPath)" class="image-area" alt="房源圖片">
                </div>
            </div>
            <div class="col">
                <h5 class="card-title">@record.Title</h5>
                <div class="d-flex align-items-center gap-1">
                    <i class="bi bi-geo-alt-fill"></i>
                    <span class="fs-6" title="@record.AddressLine">@record.AddressLine</span>
                </div>
                <div class="d-flex align-items-center gap-1">
                    <i class="bi bi-house-fill"></i>
                    <span class="fs-6">房屋租金：NT$@record.MonthlyRent.ToString("N0") 元 / 月</span>
                </div>

                @if (record.ScheduleTime != null)
                {
                    <div class="d-flex align-items-center gap-1">
                        <i class="bi bi-calendar-week"></i>
                        <span class="fs-6">預約看房日：@record.ScheduleTime?.ToString("yyyy-MM-dd")</span>
                    </div>
                }
                else
                {
                    <div class="d-flex align-items-center gap-1">
                        <i class="bi bi-calendar-week"></i>
                        <span class="fs-6">申請日期：@record.CreatedAt.ToString("yyyy-MM-dd")</span>
                    </div>
                }
            </div>
            <div class="col-2 d-flex flex-column align-items-start justify-content-start px-0 gap-2">
                @if (record.ApplicationType == "RENTAL")
                {
                    @if (statusName == "SIGNING")
                    {
                        // 簽署合約
                        @await Html.PartialAsync("_PartialSignContract", new TenantSignViewModel { RentalApplicationId = @record.ApplicationId, ContractId = record.ContractId!.Value })
                    }
                    @if (statusName == "WAIT_TENANT_AGREE" || statusName == "WAIT_LANDLORD_AGREE" || statusName == "CONTRACTED")
                    {
                        // 查看合約(內有下載合約)
                        <a href="@Url.Action("Preview", "MemberContracts", new { contractId = record.ContractId })" class="btn btn-outline-secondary py-0 w-100" target="_blank">
                            瀏覽合約
                        </a>
                    }


                }
                <a href="@Url.Action("Message", "Chat", new { landlordId = record.LandlordMemberId })" class="btn btn-aqua py-0 w-100">查看房源</a>

                <button type="button" class="btn btn-aqua py-0 w-100" data-bs-toggle="modal"
                        data-bs-target="#contactService@(record.ApplicationId)">
                    聯絡客服
                </button>

                <button type="button" class="btn btn-aqua py-0 w-100">
                    取消申請
                </button>
                
            </div>
        </div>



        <ol class="row p-0 m-0 mt-2">
            @for (int i = 0; i < steps.Count; i++)
            {
                var stepNum = i + 1;
                var stepStatus = steps[i];

                var title = dict.ContainsKey(stepStatus) ? dict[stepStatus] : "";
                var date = Model.Record.StatusLogs.FirstOrDefault(s => s.StatusCode == stepStatus)?.ChangedAt.ToString("yyyy-MM-dd") ?? string.Empty;

                <li class="col d-flex justify-content-start flex-column align-items-center px-0 step-area" data-num="@stepNum">
                    <div class="w-100 position-relative d-flex justify-content-center p-3">
                        <div class="icon py-2 rounded-1 d-flex justify-content-center align-items-center position-relative z-1 border border-1">
                            @stepNum
                        </div>
                        @if (i < steps.Count - 1)
                        {
                            <div class="bg position-absolute step-area-line step-area-line-after start-50 top-50 w-50 translate-middle-y line"></div>
                        }
                        @if (i > 0)
                        {
                            <div class="bg position-absolute step-area-line step-area-line-before start-0 top-50 w-50 translate-middle-y line"></div>
                        }
                    </div>

                    @if (!string.IsNullOrEmpty(title))
                    {
                    <div class="title">@title</div>
                    }
                    @if (!string.IsNullOrEmpty(date))
                    {
                        <div class="date">@date</div>
                    }

                </li>
            }
        </ol>
    
    
    
    
    
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="contactService@(record.ApplicationId)" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="contactServiceLabe@(record.ApplicationId)" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contactServiceLabel@(record.ApplicationId)">聯絡客服</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
            </div>
            <div class="modal-body p-3">
                <form action="@Url.Action("ContactService", "Support")" method="post" class="w-100">
                    <input type="hidden" name="applicationId" value="@record.ApplicationId" />

                    <div class="mb-3">
                        <label for="selectReason-@record.ApplicationId">事由</label>
                        <select class="form-select" id="selectReason-@record.ApplicationId" name="reason">
                            <option selected disabled>請選擇事由</option>
                            <option value="1">合約已完成</option>
                            <option value="2">合約簽署中</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="contactInstructions-@record.ApplicationId">說明</label>
                        <textarea class="form-control" name="instructions" id="contactInstructions-@record.ApplicationId"
                                  rows="3" style="resize:none;"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-aqua">送出</button>
            </div>
        </div>
    </div>
</div>